.item1 {
    grid-area: header;
    background-color: green;
    height: 135px;
}

.item2 {
    grid-area: menu;
     position: relative;
    z-index: 2;
}

.item3 {
    grid-area: main;
    position: relative;
    top: 2%;
    left:24%;
    width: 50%; 
}


.item5 {
    grid-area: footer;
    margin-top: 10%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
}

/* .grid-container>div {
    
    text-align: center;
    padding: 0.1px 0;
    font-size: 30px; 
}*/
body{
    margin: 0;
    background-color: lightgrey;
}
#topo{
    position: relative;
    left: 0.3px;
    top: -217px;
    z-index: 0;
}
#menu {
    position: relative;
    z-index: 1;
}
#video {
    text-align: center;
}

video {
    border-radius: 30px;
}

td,tr {
    border: 1px dotted blue;
    border-radius: 10px;
    border-bottom: 3px solid blueviolet;
}
table{
    border: 2px outset blueviolet;
    border-radius: 20px;
    text-align: center;
}
#tab{
    position: relative;
    top:50%;
    left: 30%;
}